    
/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;

}

.interface{
    max-width: 1280px;
    margin: 0 auto;  
}

.flex{
    display: flex;

}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: red;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px red;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 39px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: red;
    font-size: 75;
}

.topo-do-site .txt-topo-site p{
    color:#fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: Flutuante 2s ease-in-out infinite alternate;

}

@keyframes Flutuante{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

@media screen and (max-width: 1020px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /*TOPO DO SITE*/
   
    section.topo-do-site.flex{
    gap: 40px;
    } 

    section.topo-do-site{
    padding: 20px 8%;
    }   

    .topo-do-site h1{
    font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
}